.buttonPoo {
    -fx-background-color: #D35400;
    -fx-background-radius: 23px;
    -fx-text-fill: black;
}
.buttonPoo:hover {
     -fx-background-color: white;
     -fx-background-radius: 23px;
     -fx-text-fill: #DC7633;
     -fx-border-color: #DC7633;
     -fx-border-radius: 20px;
     -fx-border-width: 3px;
}
.buttonPoo:pressed {
     -fx-background-color: #C2C5C8;
     -fx-background-radius: 23px;
     -fx-text-fill: black;
     -fx-border-color: #DC7633;
     -fx-border-radius: 20px;
     -fx-border-width: 2px;
}

.buttonGreen {
    -fx-background-color: #45B39D;
    -fx-background-radius: 23px;
    -fx-text-fill: black;
}
.buttonGreen:hover {
     -fx-background-color: white;
     -fx-background-radius: 23px;
     -fx-text-fill: #17A589;
     -fx-border-color: #17A589;
     -fx-border-radius: 18px;
     -fx-border-width: 3px;
}
.buttonGreen:pressed {
     -fx-background-color: #C2C5C8;
     -fx-background-radius: 23px;
     -fx-text-fill: black;
     -fx-border-color: #17A589;
     -fx-border-radius: 18px;
     -fx-border-width: 2px;
}

.buttonRed {
    -fx-background-color: #F96868;
    -fx-background-radius: 23px;
    -fx-text-fill: black;
}
.buttonRed:hover {
     -fx-background-color: white;
     -fx-background-radius: 23px;
     -fx-text-fill: #B01C1C;
     -fx-border-color: #B01C1C;
     -fx-border-radius: 20px;
     -fx-border-width: 3px;
}
.buttonRed:pressed {
     -fx-background-color: #C2C5C8;
     -fx-background-radius: 23px;
     -fx-text-fill: #B01C1C;
     -fx-border-color: #B01C1C;
     -fx-border-radius: 20px;
     -fx-border-width: 2px;
}
.buttonBlue {
    -fx-background-color: #60B4F8;
    -fx-background-radius: 23px;
    -fx-text-fill: black;
}
.buttonBlue:hover {
     -fx-background-color: white;
     -fx-background-radius: 23px;
     -fx-text-fill: #084D84;
     -fx-border-color: #084D84;
     -fx-border-radius: 20px;
     -fx-border-width: 3px;
}
.buttonBlue:pressed {
     -fx-background-color: #C2C5C8;
     -fx-background-radius: 23px;
     -fx-text-fill: #084D84;
     -fx-border-color: #084D84;
     -fx-border-radius: 20px;
     -fx-border-width: 2px;
}
.buttonS {
    -fx-background-color: #FEB87D;
    -fx-background-radius: 23px;
    -fx-text-fill: black;
}
.buttonS:hover {
     -fx-background-color: white;
     -fx-background-radius: 23px;
     -fx-text-fill: #BF5B08;
     -fx-border-color: #BF5B08;
     -fx-border-radius: 20px;
     -fx-border-width: 3px;
}
.buttonS:pressed {
     -fx-background-color: #C2C5C8;
     -fx-background-radius: 23px;
     -fx-text-fill: #BF5B08;
     -fx-border-color: #BF5B08;
     -fx-border-radius: 20px;
     -fx-border-width: 2px;
}
